.wrapper {
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100vh;

  .navbar-nav {
    padding: 28px;
    gap: 20px;

    .nav-item {
      border-radius: 4px;
      padding: 0px 12px;
      &:hover {
        background-color: rgb(5, 77, 193);
        border-radius: 4px;
        padding: 0px 12px;

        .nav-link {
          color: white;
        }
      }
    }

    .active {
      background-color: rgb(5, 77, 193);
      border-radius: 4px;
      padding: 0px 12px;

      .nav-link {
        color: white;
      }
    }
  }
}

.container-content {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;

  .container-content::-webkit-scrollbar {
    display: none;
  }
  .navbar-content {
    background-color: #99c5f2;
    display: flex;
    justify-content: end;
    padding: 12px 20px;
    gap: 16px;
    .content {
      background-color: yellow;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }

  .section-title {
    background-color: #99c5f2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 500px;
  }

  .section-breadcrumbs{
    margin-top: 20px;
    margin-left: 20px;
    .breadcrumb-item{
      a{
        color: grey;
        text-decoration: none;
      }
      :hover{
        color: #99c5f2;
      }
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    p {
      width: 60%;
      text-align: center;
    }
    .line{
      width:30px;
      height:5px;
      background-color:lightgrey;
      border-radius: 10px;
    }


    .person-left{
      display: flex;
      margin-left: 100px;
      margin-top: 50px;
      img{
        height: auto;
      }
      .text{
        margin-left: 100px;
        margin-top: 150px;

      }
      p{
        text-align: justify;
      }
    }
    .person-right{
      display: flex;
      margin-right: 100px;
      margin-top: 50px;
      img{
        height: auto;
      }
      .text{
        margin-left: 100px;
        margin-top: 150px;
      }
      p{
        text-align: justify;
      }
    }


    .summary{
      margin-top: 50px;
      display: flex;
      width: 88%;
      table{
        tr{
          vertical-align:middle;
        }
      }
    }

    .row{
      margin-top: 50px;
      width: 88%;
      .col{
        p{
          text-align: left;
        }
        .card{
          background-color: #f0f4f9;
          border: none;
          a{
            color: #74b4f5;
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-content {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    background-color: rgb(241, 241, 241);
    padding: 40px;
    gap: 40px;
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 70px;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}
