.wrapper {
  display: flex;
}

.sidebar {
  width: 20%;
  height: 100vh;
}
.sidebar .navbar-nav {
  padding: 28px;
  gap: 20px;
}
.sidebar .navbar-nav .nav-item {
  border-radius: 4px;
  padding: 0px 12px;
}
.sidebar .navbar-nav .nav-item:hover {
  background-color: rgb(5, 77, 193);
  border-radius: 4px;
  padding: 0px 12px;
}
.sidebar .navbar-nav .nav-item:hover .nav-link {
  color: white;
}
.sidebar .navbar-nav .active {
  background-color: rgb(5, 77, 193);
  border-radius: 4px;
  padding: 0px 12px;
}
.sidebar .navbar-nav .active .nav-link {
  color: white;
}

.container-content {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.container-content .container-content::-webkit-scrollbar {
  display: none;
}
.container-content .navbar-content {
  background-color: #99c5f2;
  display: flex;
  justify-content: end;
  padding: 12px 20px;
  gap: 16px;
}
.container-content .navbar-content .content {
  background-color: yellow;
}
.container-content .navbar-content a {
  text-decoration: none;
  color: black;
}
.container-content .section-title {
  background-color: #99c5f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 500px;
}
.container-content .section-breadcrumbs {
  margin-top: 20px;
  margin-left: 20px;
}
.container-content .section-breadcrumbs .breadcrumb-item a {
  color: grey;
  text-decoration: none;
}
.container-content .section-breadcrumbs .breadcrumb-item :hover {
  color: #99c5f2;
}
.container-content .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.container-content .section-content p {
  width: 60%;
  text-align: center;
}
.container-content .section-content .line {
  width: 30px;
  height: 5px;
  background-color: lightgrey;
  border-radius: 10px;
}
.container-content .section-content .person-left {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}
.container-content .section-content .person-left img {
  height: auto;
}
.container-content .section-content .person-left .text {
  margin-left: 100px;
  margin-top: 150px;
}
.container-content .section-content .person-left p {
  text-align: justify;
}
.container-content .section-content .person-right {
  display: flex;
  margin-right: 100px;
  margin-top: 50px;
}
.container-content .section-content .person-right img {
  height: auto;
}
.container-content .section-content .person-right .text {
  margin-left: 100px;
  margin-top: 150px;
}
.container-content .section-content .person-right p {
  text-align: justify;
}
.container-content .section-content .summary {
  margin-top: 50px;
  display: flex;
  width: 88%;
}
.container-content .section-content .summary table tr {
  vertical-align: middle;
}
.container-content .section-content .row {
  margin-top: 50px;
  width: 88%;
}
.container-content .section-content .row .col p {
  text-align: left;
}
.container-content .section-content .row .col .card {
  background-color: #f0f4f9;
  border: none;
}
.container-content .section-content .row .col .card a {
  color: #74b4f5;
  text-decoration: none;
}
.container-content .footer-content {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  background-color: rgb(241, 241, 241);
  padding: 40px;
  gap: 40px;
}
.container-content .footer-content .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-content .footer-content .icon img {
  width: 70px;
}
.container-content .footer-content .icon a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */